# Server
PORT=8080
JWT_SECRET=7627cf4ae27fa73abff9613a74f701d6a3efd41762f1649a7acf3cecaee6c962
JWT_EXPIRATION_HOURS=72

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=resu
DB_PASSWORD=drowssap
DB_NAME=task-manager-db

# Redis (rate limiting)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=drowssap
RATE_LIMIT=10        # requests per minute per IP

# Optional
LOG_LEVEL=info
